[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
backtrader = "*"
matplotlib = "*"
bta-lib = "*"
ta-lib = "*"
python-binance = "*"
boto3 = "*"
python-dotenv = "*"
influxdb = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
