[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
backtrader = "*"
matplotlib = "==3.2.2"
bta-lib = "*"
ta-lib = "*"
python-binance = "*"
ta-lib = "*"

[dev-packages]

[requires]
python_version = "3.8"
